.box {
  display: flex;
  border: 0.5px solid ;
max-width: 810px;
 justify-content: space-between;
box-sizing: border-box;
 flex-wrap: wrap;

}

.item {
  border: 0.5px solid ;
  width: 50%;
   display: block;
 padding: 5px;
}

.imgbankimg {
  width: 100%;
  overflow: hidden;
}
.imgbankimg img {
  width: 100%;
}

.items {
  border: 0.5px solid ;
   width: 50%;
    display: block;
     padding: 5px;
}

.items > ul > li {
  list-style: none;


} 

.ttotal {
  font-size:0px;
}



.qrimg {
  width: 100%;
}

@media (max-width: 480px) {
  .box {
    display: block;
  }
  .item {
    width: 100%;
      padding: 5px;
  }
  .items {
    width: 100%;
    padding: 5px;
  }



}
